* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-cont {
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: black;
  flex-direction: row;
}

.emoji {
  font-size: 5em;
}

.score-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.msg-cont {
  height: 90%;
  width: 100%;
  background-color: #f6e2bc;
  overflow-y: scroll;
}

.msg-view {
  height: 100%;
  width: 40%;
  color: black;
}

.right-cont {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.send-btn {
  background-color: #121212;
  color: white;
}

.messageBox {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: #2d2d2d;
  border: 1px solid rgb(63, 63, 63);
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 90%;
  padding-left: 10px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
p {
  font-size: 5vw;
}

@media only screen and (max-width: 600px) {
  .main-cont {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  }

  .msg-view {
    width: 100vw;
    height: 100vh;
  }

  .msg-cont {
    height: 80vh;
    width: 100%;
  }

  .messageBox {
    height: 10vh;
  }

  .right-cont {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  p {
    font-size: 10vw;
  }
}
