* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-main-cont {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: black;
  flex-direction: row;
}

.chat-emoji {
  font-size: 5em;
}

.chat-score-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.chat-msg-cont {
  height: 90%;
  width: 100%;
  background-color: #f6e2bc;
  overflow-y: scroll;
}

.chat-msg-view {
  height: 100%;
  width: 40%;
  color: black;
}

.chat-right-cont {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.chat-send-btn {
  background-color: #121212;
  color: white;
}

.chat-messageBox {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: #2d2d2d;
  border: 1px solid rgb(63, 63, 63);
}
.chat-messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#chat-messageInput {
  width: 90%;
  padding-left: 10px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
#chat-messageInput:focus ~ #sendButton svg path,
#chat-messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#chat-sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
p {
  font-size: 5vw;
}

@media only screen and (max-width: 600px) {
  .chat-main-cont {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  }

  .chat-msg-view {
    width: 100vw;
    height: 100vh;
  }

  .chat-msg-cont {
    height: 80vh;
    width: 100%;
  }

  .chat-messageBox {
    height: 10vh;
  }

  .chat-right-cont {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  p {
    font-size: 10vw;
  }
}
